@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

div i {
    color: rgb(14, 13, 41);
}

header {
    background-color: #192a56;
    height: 3rem;
    align-items: center;
    padding: 10px;
}

header h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

ul li {
    list-style: none;
}

section h3 {
    font-size: 24px;
    text-align: center;
    margin: 15px 0;
}

form {
    max-width: 480px;
    margin: 0 auto;
}

form button {
    display: block;
    width: 40%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    margin-top: 35px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

label {
    margin-bottom: 10px;
}


